<div class="game-header">
    <div class='row'>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

            <form ng-submit="addAddress()" style="margin:20px 0px;height:100px;" class="form-horizontal" role='form'>

                  <input type="text" style="height:46px;margin-bottom:10px;" placeholder="Enter Your Bitcoin Wallet Address" ng-model="newAddress" required class="form-control input-normal"  />
                  <input style="width:100%;" type="submit" value="Add This Address to My Games" class="btn btn-default pull-left btn-lg"  />
            </form>

            <h3 ng-show="addresses.length">Addresses displayed:</h3>
            <h4 ng-hide="addresses.length">Displaying all bets. Add your wallet address to watch your bets!</h4>
            <div class="row">
                <div ng-repeat="address in addresses track by $index" class="col-xs-4" style="border-radius:5px;background-color:#220000;padding:2px;">
                    <button class="btn btn-primary btn-large" style="font-size:20px;" ng-click="removeAddress(address)">X<!-- remove--></button>&nbsp;<div style="font-size:11px;" blockchain-info="{{ address }}" chars="8"></div>
                </div>
            </div>

            <div ng-show="myGamesLoading">Loading</div>
            <table class="table table-bordered dicesTable" ng-hide="myGamesLoading">
                <thead>
                    <tr>
                        <th>Proof</th>
                        <th>Game</th>
                        <th>Lucky</th>
                        <th ng-show="addresses.length === 0">Add</th>
                        <th>Address</th>
                        <th class="hidden-xs hidden-sm hidden-md">Bet Amount</th>
                        <th class="hidden-xs hidden-sm hidden-md">Payout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dice in myGames track by $index">
                        <td style="text-align:center">
                            <a data-toggle="modal" style="cursor: pointer; font-size:25px;" class="glyphicon glyphicon-info-sign" data-target="#transactions{{dice._id.replace(':', '')}}"></a>
                            <div style="text-align: left" ng-include="'tpl/detail-modal.html'"
                                 id="transactions{{dice._id.replace(':', '')}}"
                                 class="modal fade">
                            </div>
                        </td>
                        <td>{{ dice.game }}
                        <td>{{ dice.result }}</td>
                        <td ng-show="addresses.length === 0">
                            <img style="cursor: pointer;" width="30" height="30" ng-show="addresses.length === 0" ng-src="{{starGraphic(dice.player_id)}}" ng-click="toggleStar(dice.player_id)" bootstrap-tooltip="Add this address to my games">
                        </td>                        
                        </td>
                        <td>
                            <div blockchain-info="{{ dice.player_id }}" chars="6"></div>
                        </td>
                        <td class="hidden-xs hidden-sm hidden-md">{{ dice.wager | btc }}</td>
                        <td class="hidden-xs hidden-sm hidden-md">{{ dice.winnings | btc }}</td>
                    </tr>
                </tbody>
            </table>
            <h3>Look up a game by transaction ID</h3>
            <form ng-submit="diceLookup()" class="form-inline">
                <div class="form-group">
                    <input id="dice-query" ng-model="diceQuery" type="text"  class="form-control" placeholder="">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <div class="panel" ng-show="diceSearchLoading"><p>Searching...</p></div>
            <div class="panel" ng-show="diceSearchError">
                <p>Nothing found. Is {{ diceQuery }} a valid Bitcoin transaction ID?</p>
            </div>
            <div class="panel" ng-show="diceSearchResult">
                <dl class="dl-horizontal">
                    <dt>Processed at: </dt><dd>{{ diceSearchResult.createdAt | date:"MM/dd/yy HH:mm:ss" }}</dd>
                    <dt>Key Date: </dt><dd>{{ diceSearchResult.createdAt | date:"MM/dd/yy" }}</dd>
                    <dt>Bet: </dt><dd>&lt; {{ diceSearchResult.game }}</dd>
                    <dt>Bet Tx: </dt><dd><div blockchain-info="{{ diceSearchResult.tx_in }}" chars="12"></div></dd>
                    <dt>Payment Tx: </dt><dd><div blockchain-info="{{ diceSearchResult.tx_out }}" chars="12"></div></dd>
                    <dt>Payment Tx Status: </dt><dd>{{ diceSearchResult.confirmed && "Confirmed" || "Unconfirmed" }}</dd>
                    <dt>Bet Amount: </dt><dd>{{ diceSearchResult.wager | btc }}</dd>
                    <dt>Outcome: </dt><dd>{{ diceSearchResult.winnings > diceSearchResult.wager && "Win" || "Lose" }}</dd>
                    <dt>Payment: </dt><dd>{{ diceSearchResult.winnings | btc }}</dd>
                    <dt>Address: </dt><dd><div blockchain-info="{{ diceSearchResult.player_id }}" chars="12"></div></dd>
                    <dt>Lucky Number: </dt><dd>{{ diceSearchResult.result }}</dd>
                    <dt>Secret Key:</dt>
                    <dd>
                        <span ng-hide="loadingSecret || secrets[diceSearchResult._id]"
                              ng-click="loadSecret(diceSearchResult)"
                              style="cursor: pointer;">
                            CLICK TO GET SECRET HASH
                        </span>
                        <span ng-show="loadingSecret">Loading</span>
                        <span style="word-wrap: break-word;" ng-show="secrets[diceSearchResult._id]">{{ secrets[diceSearchResult._id] }}</span>
                    </dd>
                </dl>
            </div>


        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">

            <h1>Bet Addresses</h1>
            <h2>0.001 BTC Minimum Bet</h2>
            <div class="row">
              <div ng-repeat="game in games track by $index" class="gamelist panel col-xs-6 col-lg-4">
                <div style="font-size:24px;">&lt;{{ game.target }}</div>
                <button class="btn btn-primary btn-lg" ng-click="sendBitcoins(game.address)">Bet</button>

                <!--<div style="font-family: monospace;font-size:9px;" >{{ game.address }}</div>   -->

                <div><b>Win Odds</b>: {{ game.odds * 100 | number:4 }}%</div>
                <div><b>Prize Multiplier<b>: {{ game.multiplier | number:4 }}x</div>
                <div><b>Max Bet</b>: {{ game.maxBet | btc }}</div>


                <div id="modal{{game.address}}" class="qc-modal modal fade">
                    <div class="modal-dialog qr-modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h3>{{ game.title }}</h3>
                                <div><small>{{ game.address }}</small></div>
                            </div>
                            <div class="modal-body">
                                <img ng-src="img/qr-codes/{{ game.address }}.png" />
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div><!-- end game-header -->
