<ul class="nav nav-pills nav-justified">
    <li ng-class="getRecentTabClass('recent')">
        <a href="recent">
            Recent
        </a>
    </li>
    <li ng-class="getRecentTabClass('big')">
        <a href="recent/big">
            Big Wins
        </a>
    </li>
    <li ng-class="getRecentTabClass('rare')">
        <a href="recent/rare">
            Rare Wins
        </a>
    </li>
</ul>
<div class="alert" ng-show="diceLoading">Loading</div>
<div class="alert" ng-show="error">{{ error }}</div>
<fieldset ng-hide="diceLoading || error" id="recent">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Details
                </th>
                <th>Processed at: </th>
                <th class="">
                    Mine
                </th>
                <th>
                    Game
                </th>
                <!--
                <th class="hidden-phone hidden-tablet">
                    Bet Tx
                </th>
                <th class="hidden-phone hidden-tablet">
                    Pay Tx
                </th>-->
                <th class="hidden-phone hidden-tablet">
                    Address
                </th>
                <th class="hidden-phone hidden-tablet">
                    Bet Amount
                </th>
                <th>
                    Result
                </th>
                <th>
                    Payment Amount
                </th>
                <th class="hidden-phone hidden-tablet">
                    Lucky
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-hide="dices && dices.length > 0" class="error">
                <td colspan="6">
                    <div class="text-center"><strong></strong>
                    </div>
                </td>
            </tr>
            <tr data-ng-repeat="dice in dices">
                <td>
                    <a data-toggle="modal"
                       style="cursor: pointer;"
                       data-target="#transactions{{dice._id.replace(':', '')}}">
                        Details
                    </a>
                    <div ng-include="'tpl/detail-modal.html'"
                         id="transactions{{dice._id.replace(':', '')}}"
                         class="modal fade"></div>
                </td>
                <td>        
                    {{ dice.createdAt | date:"MM/dd/yy HH:mm:ss" }}
                </td>
                <td class="">
                    <img style="cursor: pointer;" ng-src="{{ starGraphic(dice.player_id) }}" ng-click="toggleStar(dice.player_id)" />
                </td>
                <td>&lt; {{ dice.game }}</td>
                <!--
                <td class="hidden-phone hidden-tablet">
                    <div blockchain-info="{{ dice.tx_in }}" chars="16"></div>
                </td>
                <td class="hidden-phone hidden-tablet">
                    <div blockchain-info="{{ dice.tx_out }}" chars="16"></div>
                </td>-->
                <td class="hidden-phone hidden-tablet">
                    <div blockchain-info="{{ dice.player_id }}" chars="6"></div>
                </td>
                <td class="hidden-phone hidden-tablet">
                    {{ dice.wager | btc }}
                </td>
                <td>
                    {{ dice.winnings > dice.wager && "Win" || "Lose" }}
                </td>
                <td>
                    {{ dice.winnings | btc }}
                </td>
                <td class="hidden-phone hidden-tablet">
                    {{ dice.result }}
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
